.DS_Store

# Native Xcode project (not the main app)
Dermasnap/

# Firebase
GoogleService-Info.plist
google-services.json

# Xcode project
*.pbxproj
xcuserdata/
*.xcuserstate
DerivedData/

# Env
.env
.env*.local
